<div *ngIf="isLoading">
  <nz-spin></nz-spin>
</div>
<div *ngIf="!isLoading">
  <div *ngFor="let ifCondition of ifConditions; let ifIndex = index">
    <!-- 条件运算符 -->
    <div nz-row style="margin-right: 10px; margin-bottom: 10px">
      <nz-tag nzColor="#108ee9" style="margin-right: 10px">条件No.{{ ifIndex + 1 }}</nz-tag>
      <div nz-col nzSpan="8">
        <button nz-button (click)="openTemplateModal(ifIndex)" nzType="primary" style="margin-right: 10px">
          テンプレートを選択
        </button>
        <button nz-button (click)="removeIfCondition(ifIndex)" nzType="primary" nzDanger>条件を削除</button>
      </div>
    </div>
    <nz-collapse style="margin-right: 10px; margin-bottom: 30px">
      <nz-collapse-panel
        [nzHeader]="ifCondition.collapaseNotice"
        [(nzActive)]="ifCondition.active"
        [nzDisabled]="ifCondition.disabled"
        (nzActiveChange)="collapaseChange(ifIndex)"
      >
        <div style="display: flex; align-items: center; margin-bottom: 10px">
          <button nz-button (click)="addConditionGroup('and', ifIndex)" nzType="primary" style="margin-right: 10px">
            ANDグループ追加
          </button>
          <button nz-button (click)="addConditionGroup('or', ifIndex)" nzType="primary" style="margin-right: 10px">
            ORグループ追加
          </button>
        </div>

        <div *ngFor="let group of ifCondition.field_groups; let groupIndex = index" style="margin-bottom: 10px">
          <nz-card nzTitle="{{ group.type.toUpperCase() }} グループ" [nzBordered]="true">
            <!-- 区块标题和添加条件按钮 -->
            <div style="margin-bottom: 10px">
              <span>
                <button
                  nz-button
                  (click)="addCondition(groupIndex, ifIndex)"
                  nzType="primary"
                  style="margin-right: 10px"
                >
                  条件追加
                </button>
                <button
                  nz-button
                  (click)="removeConditionGroup(groupIndex, ifIndex)"
                  style="margin-right: 10px"
                  nzDanger
                >
                  <i nz-icon nzType="delete"></i>
                  グループを削除
                </button>
              </span>
            </div>
            <!-- 条件部分 -->
            <div
              *ngFor="let condition of group.field_cons; let conditionIndex = index"
              style="display: flex; align-items: center; margin-bottom: 10px"
            >
              <!-- 条件字段 -->
              <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
                <nz-form-item style="margin-bottom: 0px">
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="condition.con_field"
                      (ngModelChange)="onConFieldChange($event, ifIndex, groupIndex, conditionIndex)"
                    >
                      <nz-option
                        *ngFor="let item of swkFields"
                        [nzLabel]="item.field_name | translate"
                        [nzValue]="item.field_id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- 条件运算符 -->
              <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
                <nz-form-item style="margin-bottom: 0px">
                  <nz-form-control>
                    <nz-select style="width: 100%" [(ngModel)]="condition.con_operator">
                      <nz-option [nzLabel]="'page.datastore.equal' | translate" nzValue="eq"></nz-option>
                      <nz-option [nzLabel]="'page.datastore.notEqual' | translate" nzValue="ne"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- 条件值 -->
              <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
                <nz-form-control>
                  <input nz-input style="width: 100%" [(ngModel)]="condition.con_value" trim="blur" />
                </nz-form-control>
              </div>

              <!-- 删除条件按钮 -->
              <button
                nz-button
                (click)="removeCondition(groupIndex, conditionIndex, ifIndex)"
                style="margin-right: 10px"
              >
                <i nz-icon nzType="minus"></i>
              </button>
            </div>
          </nz-card>
        </div>

        <div style="margin-bottom: 10px">
          <h3>条件が満たされた場合の出力</h3>

          <!-- 符合条件时类型选择 -->
          <div nz-row>
            <nz-form-item style="margin-bottom: 0px; margin-right: 10px" nz-col nzSpan="4">
              <nz-form-control>
                <nz-select
                  style="width: 100%"
                  [(ngModel)]="ifCondition.then_type"
                  (ngModelChange)="onThenTypeChange($event, ifIndex)"
                >
                  <nz-option nzLabel="台账フィールド" nzValue="field"></nz-option>
                  <nz-option nzLabel="固定値" nzValue="value"></nz-option>
                  <nz-option nzLabel="カスタム" nzValue="custom"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <div nz-col nzSpan="4">
              <!-- 当选择为 "台账字段" 时显示 符合条件时 -->
              <nz-form-item *ngIf="ifCondition.then_type === 'field'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="ifCondition.then_selected_fieldId"
                    (ngModelChange)="onThenFieldChange($event, ifIndex)"
                  >
                    <nz-option
                      *ngFor="let item of swkFields"
                      [nzLabel]="item.field_name | translate"
                      [nzValue]="item.field_id"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <!-- 当选择为 "固定值" 时显示 -->
              <nz-form-item *ngIf="ifCondition.then_type === 'value'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <input nz-input style="width: 100%" [(ngModel)]="ifCondition.then_fixed_value" placeholder="" />
                </nz-form-control>
              </nz-form-item>
              <!-- 当选择为 "custom" 时显示 -->
              <nz-form-item *ngIf="ifCondition.then_type === 'custom'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="ifCondition.then_custom_type"
                    (ngModelChange)="onThenCustomTypeChange($event, ifIndex)"
                  >
                    <nz-option nzLabel="加算" nzValue="add"></nz-option>
                    <nz-option nzLabel="文字結合" nzValue="concat"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <nz-card>
            <div nz-row *ngFor="let field of ifCondition.then_custom_fields; let fieldIndex = index">
              <div nz-col nzSpan="4" nzOffset="9">
                <!-- 当选择为 "加算" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.then_custom_type !== ''"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_type"
                      (ngModelChange)="onThenCustomFieldTypeChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option nzLabel="台账フィールド" nzValue="field"></nz-option>
                      <nz-option nzLabel="固定値" nzValue="value"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4">
                <!-- 当选择为 "算术运算" 且 "台账字段" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.then_custom_type === 'add' && field.custom_field_type === 'field'"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_value"
                      (ngModelChange)="onThenCustomFieldChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option
                        *ngFor="let item of numberSwkFields"
                        [nzLabel]="item.field_name | translate"
                        [nzValue]="item.field_id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <!-- 当选择为 "非算术运算" 且 "台账字段" 时显示 -->
                <nz-form-item
                  *ngIf="
                    ifCondition.then_custom_type !== '' &&
                    ifCondition.then_custom_type !== 'add' &&
                    field.custom_field_type === 'field'
                  "
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_value"
                      (ngModelChange)="onThenCustomFieldChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option
                        *ngFor="let item of strAndNumberSwkFields"
                        [nzLabel]="item.field_name | translate"
                        [nzValue]="item.field_id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <!-- 当选择为 "加算" 且 "固定值" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.then_custom_type !== '' && field.custom_field_type === 'value'"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-form-control>
                      <input nz-input style="width: 100%" [(ngModel)]="field.custom_field_value" placeholder="" />
                    </nz-form-control>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="4"
                *ngIf="ifCondition.then_custom_type !== ''"
                style="margin-bottom: 10px; margin-right: 10px"
              >
                <span>
                  <!-- 删除条件按钮 -->
                  <button
                    nz-button
                    style="margin-right: 10px; display: inline-block"
                    (click)="removeThenField(ifIndex, fieldIndex)"
                    *ngIf="ifCondition.then_custom_fields.length > 1"
                  >
                    <i nz-icon nzType="minus"></i>
                  </button>
                  <!-- 添加按钮 -->
                  <button
                    nz-button
                    style="margin-right: 10px; display: inline-block"
                    (click)="addThenField(ifIndex)"
                    *ngIf="fieldIndex === 0"
                  >
                    <i nz-icon nzType="plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </nz-card>
        </div>

        <div>
          <h3>条件が満たされない場合の出力</h3>
          <div nz-row>
            <nz-form-item style="margin-bottom: 0px; margin-right: 10px" nz-col nzSpan="4">
              <nz-form-control>
                <nz-select
                  style="width: 100%"
                  [(ngModel)]="ifCondition.else_type"
                  (ngModelChange)="onElseTypeChange($event, ifIndex)"
                >
                  <nz-option nzLabel="台账フィールド" nzValue="field"></nz-option>
                  <nz-option nzLabel="固定値" nzValue="value"></nz-option>
                  <nz-option nzLabel="カスタム" nzValue="custom"></nz-option>
                  <nz-option nzLabel="条件追加" nzValue="new"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <div nz-col nzSpan="4">
              <!-- 当选择为 "台账字段" 时显示 符合条件时 -->
              <nz-form-item *ngIf="ifCondition.else_type === 'field'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="ifCondition.else_selected_fieldId"
                    (ngModelChange)="onElseFieldChange($event, ifIndex)"
                  >
                    <nz-option
                      *ngFor="let item of swkFields"
                      [nzLabel]="item.field_name | translate"
                      [nzValue]="item.field_id"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <!-- 当选择为 "固定值" 时显示 -->
              <nz-form-item *ngIf="ifCondition.else_type === 'value'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <input nz-input style="width: 100%" [(ngModel)]="ifCondition.else_fixed_value" placeholder="" />
                </nz-form-control>
              </nz-form-item>
              <!-- 当选择为 "custom" 时显示 -->
              <nz-form-item *ngIf="ifCondition.else_type === 'custom'" style="margin-bottom: 0px; margin-right: 10px">
                <nz-form-control>
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="ifCondition.else_custom_type"
                    (ngModelChange)="onElseCustomTypeChange($event, ifIndex)"
                  >
                    <nz-option nzLabel="加算" nzValue="add"></nz-option>
                    <nz-option nzLabel="文字結合" nzValue="concat"></nz-option>
                    <!-- <nz-option nzLabel="文字化" nzValue="str"></nz-option> -->
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <nz-card style="margin-bottom: 10px">
            <div nz-row *ngFor="let field of ifCondition.else_custom_fields; let fieldIndex = index">
              <div nz-col nzSpan="4" nzOffset="9">
                <!-- 当选择为 "加算" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.else_custom_type !== ''"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_type"
                      (ngModelChange)="onElseCustomFieldTypeChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option nzLabel="台账フィールド" nzValue="field"></nz-option>
                      <nz-option nzLabel="固定値" nzValue="value"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4">
                <!-- 当选择为 "算术运算" 且 "台账字段" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.else_custom_type === 'add' && field.custom_field_type === 'field'"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_value"
                      (ngModelChange)="onElseCustomFieldChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option
                        *ngFor="let item of numberSwkFields"
                        [nzLabel]="item.field_name | translate"
                        [nzValue]="item.field_id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <!-- 当选择为 "非算术运算" 且 "台账字段" 时显示 -->
                <nz-form-item
                  *ngIf="
                    ifCondition.else_custom_type !== '' &&
                    ifCondition.else_custom_type !== 'add' &&
                    field.custom_field_type === 'field'
                  "
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-select
                      style="width: 100%"
                      [(ngModel)]="field.custom_field_value"
                      (ngModelChange)="onElseCustomFieldChange($event, ifIndex, fieldIndex)"
                    >
                      <nz-option
                        *ngFor="let item of strAndNumberSwkFields"
                        [nzLabel]="item.field_name | translate"
                        [nzValue]="item.field_id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <!-- 当选择为 "加算" 且 "固定值" 时显示 -->
                <nz-form-item
                  *ngIf="ifCondition.else_custom_type !== '' && field.custom_field_type === 'value'"
                  style="margin-bottom: 10px; margin-right: 10px"
                >
                  <nz-form-control>
                    <nz-form-control>
                      <input nz-input style="width: 100%" [(ngModel)]="field.custom_field_value" placeholder="" />
                    </nz-form-control>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div
                nz-col
                nzSpan="4"
                *ngIf="ifCondition.else_custom_type !== ''"
                style="margin-bottom: 10px; margin-right: 10px"
              >
                <span>
                  <!-- 删除条件按钮 -->
                  <button
                    nz-button
                    style="margin-right: 10px; display: inline-block"
                    (click)="removeElseField(ifIndex, fieldIndex)"
                    *ngIf="ifCondition.else_custom_fields.length > 1"
                  >
                    <i nz-icon nzType="minus"></i>
                  </button>
                  <!-- 添加按钮 -->
                  <button
                    nz-button
                    style="margin-right: 10px; display: inline-block"
                    (click)="addElseField(ifIndex)"
                    *ngIf="fieldIndex === 0"
                  >
                    <i nz-icon nzType="plus"></i>
                  </button>
                </span>
              </div>
            </div>
          </nz-card>
          <nz-form-item>
            <div style="text-align: right; width: 100%">
              <button nz-button (click)="openSaveTemplateModal(ifCondition)" nzType="primary">
                条件をテンプレートとして保存
              </button>
            </div>
          </nz-form-item>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div>
    <button
      nz-button
      (click)="addIfCondition()"
      nzType="primary"
      *ngIf="ifConditions === null || ifConditions.length === 0"
    >
      条件追加
    </button>
  </div>
</div>
<!-- テンプレート選択弹窗 -->
<nz-modal
  [(nzVisible)]="isTemplateModalVisible"
  nzTitle="テンプレートを選択"
  [nzWidth]="700"
  (nzOnCancel)="closeTemplateModal()"
  (nzOnOk)="handleTemplateModalOK()"
  [nzStyle]="{ height: '750px', marginTop: '-30px' }"
  [nzMaskClosable]="false"
>
  <ng-template nzModalContent>
    <app-journalsetting-template [datastoreId]="datastoreId"></app-journalsetting-template>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isSaveTemplateModalVisible"
  nzTitle="テンプレートを保存"
  (nzOnCancel)="closeSaveTemplateModal()"
  (nzOnOk)="handleSaveTemplateModalOK()"
  [nzStyle]="{ height: '750px', marginTop: '-30px' }"
  [nzMaskClosable]="false"
>
  <ng-template nzModalContent>
    <div>
      <nz-form-item [ngStyle]="{ padding: '0px' }">
        <nz-form-label [nzSpan]="5">テンプレート名</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            placeholder=""
            trim="blur"
            [(ngModel)]="saveTemplateName"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-template>
</nz-modal>
