<span style="display: inline-flex; flex-direction: column; width: 100%" nz-popover [nzPopoverContent]="change">
  <ng-content></ng-content>
</span>

<ng-template #change>
  <div style="display: inline-flex; flex-direction: row" *ngIf="item.hasChange">
    <nz-card [nzTitle]="'page.approve.beforeChange' | translate" style="flex: 1" nzType="inner" nzSize="small">
      {{ item.oldValue }}
    </nz-card>
    <nz-card [nzTitle]="'page.approve.afterChange' | translate" style="flex: 1" nzType="inner" nzSize="small">
      {{ item.value }}
    </nz-card>
  </div>
  <div *ngIf="!item.hasChange">
    {{ item.value }}
  </div>
</ng-template>
