<!-- <div style="height: 500px; padding: 2px" class="solid_border"> -->
<!-- <div class="toolbar">
     <nz-space>
      <div *nzSpaceItem>
        <button nz-button (click)="showFuncModal()" nzType="primary" nzSize="small">
          <i nz-icon nzType="function" nzTheme="outline"></i>
          {{ 'common.button.insertFormula' | translate }}
        </button>
      </div>
      <div *nzSpaceItem>
        <button nz-button (click)="showParamModal()" nzType="primary" nzSize="small">
          <i nz-icon nzType="api" nzTheme="outline"></i>
          {{ 'common.button.insertField' | translate }}
        </button>
      </div>
      <div *nzSpaceItem>
        <button nz-button (click)="check()" nzType="primary" nzSize="small">
          {{ 'common.button.formulaCheck' | translate }}
        </button>
      </div>
    </nz-space> 
    
    <button
      nz-button
      nz-tooltip
      nzTooltipPlacement="bottomRight"
      nzTooltipTrigger="click"
      nzSize="small"
      nzType="primary"
      [nzTooltipTitle]="titleTemplate"
    >
      {{ 'common.button.formulaDescription' | translate }}
      <i nz-icon nzType="question" nzTheme="outline"></i>
    </button>
    <ng-template #titleTemplate>
      <div style="width: 200px; display: flex; flex-direction: column">
        <span>{{ 'common.button.formulaDescription' | translate }}</span>
        <span>{{ 'page.datastore.formula.funcTip1' | translate }}</span>
        <span>{{ 'page.datastore.formula.funcTip2' | translate }}</span>
        <span>{{ 'page.datastore.formula.funcTip3' | translate }}</span>
        <span>{{ 'page.datastore.formula.funcTip4' | translate }}</span>
        <span>{{ 'page.datastore.formula.funcTip5' | translate }}</span>
      </div>
    </ng-template> 
  </div> -->

<!-- <div *ngFor="let row of rows; let i = index" style="padding: 2px; display: flex; margin-bottom: 10px">
  <div style="margin-right: 10px">
    <span>条件{{ i + 1 }}:</span>
  </div>


  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4">
    <nz-form-item style="margin-bottom: 0px">
      <nz-form-control>
        <nz-select style="width: 100%" [(ngModel)]="row.field">
          <nz-option
            *ngFor="let item of swkFields"
            [nzLabel]="item.field_name | translate"
            [nzValue]="item.field_id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4">
    <nz-form-item style="margin-bottom: 0px">
      <nz-form-control>
        <nz-select style="width: 100%" [(ngModel)]="row.operator">
          <nz-option [nzLabel]="'page.datastore.equal' | translate" nzValue="="></nz-option>
          <nz-option [nzLabel]="'page.datastore.notEqual' | translate" nzValue="<>"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  
  <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4">
    <nz-form-control>
      <input nz-input style="width: 100%" [(ngModel)]="row.value" trim="blur" />
    </nz-form-control>
  </div>

  <div>
    <button nz-button nzType="default" (click)="addRow()" *ngIf="i === 0">
      <i nz-icon nzType="plus"></i>
    </button>
    <button nz-button nzType="default" (click)="removeRow(i)" [disabled]="rows.length === 1" *ngIf="i !== 0">
      <i nz-icon nzType="minus"></i>
    </button>
  </div>
</div> -->

<!-- 主组件模板 -->
<button nz-button (click)="addConditionGroup('and')">添加 AND 区</button>
<button nz-button (click)="addConditionGroup('or')">添加 OR 区</button>
<button nz-button (click)="createCondition()">生成</button>

<div *ngFor="let group of conditionGroups; let groupIndex = index">
  <!-- 区块标题和添加条件按钮 -->
  <div>
    <span>
      {{ group.type.toUpperCase() }} 区
      <button nz-button (click)="removeConditionGroup(groupIndex)" style="margin-right: 10px">
        <i nz-icon nzType="delete"></i>
        削除
      </button>
      <button nz-button (click)="addCondition(groupIndex)">添加条件</button>

      <!-- 只有不是最后一个组时才显示开关 -->
      <nz-switch
        *ngIf="groupIndex < conditionGroups.length - 1"
        [(ngModel)]="group.switchType"
        [nzCheckedChildren]="'AND'"
        [nzUnCheckedChildren]="'OR'"
        style="margin-left: 10px"
      ></nz-switch>
    </span>
  </div>

  <!-- 条件部分 -->
  <div
    *ngFor="let condition of group.conditions; let conditionIndex = index"
    style="display: flex; align-items: center; margin-bottom: 10px"
  >
    <!-- 条件字段 -->
    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
      <nz-form-item style="margin-bottom: 0px">
        <nz-form-control>
          <nz-select style="width: 100%" [(ngModel)]="condition.field">
            <nz-option
              *ngFor="let item of swkFields"
              [nzLabel]="item.field_name | translate"
              [nzValue]="item.field_id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- 条件运算符 -->
    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
      <nz-form-item style="margin-bottom: 0px">
        <nz-form-control>
          <nz-select style="width: 100%" [(ngModel)]="condition.operator">
            <nz-option [nzLabel]="'page.datastore.equal' | translate" nzValue='{"$eq":["a","b"]}'></nz-option>
            <nz-option [nzLabel]="'page.datastore.notEqual' | translate" nzValue='{"$ne":["a","b"]}'></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- 条件值 -->
    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" style="margin-right: 10px">
      <nz-form-control>
        <input nz-input style="width: 100%" [(ngModel)]="condition.value" trim="blur" />
      </nz-form-control>
    </div>

    <!-- 删除条件按钮 -->
    <button nz-button (click)="removeCondition(groupIndex, conditionIndex)" style="margin-right: 10px">
      <i nz-icon nzType="minus"></i>
    </button>
  </div>
</div>

<div style="width: 200px">
  <h3>符合条件出力内容</h3>

  <!-- 类型选择 -->
  <nz-form-item style="margin-bottom: 0px">
    <nz-form-control>
      <nz-select style="width: 100%" [(ngModel)]="selectionType">
        <nz-option nzLabel="台账字段" nzValue="field"></nz-option>
        <nz-option nzLabel="固定值" nzValue="value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- 当选择为 "台账字段" 时显示 -->
  <nz-form-item *ngIf="selectionType === 'field'" style="margin-bottom: 0px">
    <nz-form-control>
      <nz-select style="width: 100%" [(ngModel)]="selectedFieldId">
        <nz-option
          *ngFor="let item of swkFields"
          [nzLabel]="item.field_name | translate"
          [nzValue]="item.field_id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- 当选择为 "固定值" 时显示 -->
  <nz-form-item *ngIf="selectionType === 'value'" style="margin-bottom: 0px">
    <nz-form-control>
      <input nz-input style="width: 100%" [(ngModel)]="fixedValue" placeholder="请输入固定值" />
    </nz-form-control>
  </nz-form-item>
</div>

<div style="width: 200px">
  <h3>不符合条件出力内容</h3>

  <!-- 类型选择 -->
  <nz-form-item style="margin-bottom: 0px">
    <nz-form-control>
      <nz-select style="width: 100%" [(ngModel)]="selectionType1">
        <nz-option nzLabel="台账字段" nzValue="field"></nz-option>
        <nz-option nzLabel="固定值" nzValue="value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- 当选择为 "台账字段" 时显示 -->
  <nz-form-item *ngIf="selectionType1 === 'field'" style="margin-bottom: 0px">
    <nz-form-control>
      <nz-select style="width: 100%" [(ngModel)]="selectedFieldId1">
        <nz-option
          *ngFor="let item of swkFields"
          [nzLabel]="item.field_name | translate"
          [nzValue]="item.field_id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- 当选择为 "固定值" 时显示 -->
  <nz-form-item *ngIf="selectionType1 === 'value'" style="margin-bottom: 0px">
    <nz-form-control>
      <input nz-input style="width: 100%" [(ngModel)]="fixedValue1" placeholder="请输入固定值" />
    </nz-form-control>
  </nz-form-item>
</div>

<!-- <div style="line-height: 35px">
    <ng-container [ngSwitch]="checkStatus | async">
      <ng-container *ngSwitchCase="'wait'">
        <span style="color: orange">
          <i nz-icon nzType="warning" nzTheme="outline"></i>
          {{ 'page.journal.funcStatusWait' | translate }}
        </span>
      </ng-container>
      <ng-container *ngSwitchCase="'success'">
        <span style="color: green">
          <i nz-icon nzType="check-circle" nzTheme="outline"></i>
          {{ 'page.journal.funcStatusSuccess' | translate }}
        </span>
      </ng-container>
      <ng-container *ngSwitchCase="'required'">
        <span style="color: red">
          <i nz-icon nzType="close-circle" nzTheme="outline"></i>
          {{ verifyError | translate }}
        </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <span style="color: red">
          <i nz-icon nzType="close-circle" nzTheme="outline"></i>
          {{ verifyError }}
        </span>
      </ng-container>
    </ng-container>
  </div>
  <nz-code-editor
    class="editor solid_border"
    [ngClass]="{ error_border: (checkStatus | async) === 'error' }"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (nzEditorInitialized)="onEditorInit($event)"
  ></nz-code-editor> -->
<!-- </div> -->
