<ng-container *ngIf="handleMonth">
  <nz-button-group style="padding-left: 4px">
    <button nz-button nzType="primary" style="cursor: auto ;background-color: #1890FF;">
      {{ 'header.title.firstMonth' | translate }}
    </button>
    <nz-date-picker nzMode="month" [(ngModel)]="date" (ngModelChange)="getMonth($event)" [(ngModel)]="encoding">
    </nz-date-picker>
    <!--     <button nz-button>
      {{ handleMonth }}
    </button> -->
  </nz-button-group>
  <!-- <nz-button-group style="padding-left: 4px" *ngIf="isSmall">
    <button nz-button nzType="primary">
      {{ handleMonth }}
    </button>
  </nz-button-group> -->
</ng-container>