<form nz-form [formGroup]="form">
  <nz-tabset>
    <nz-tab [nzTitle]="'header.title.basicSetting' | translate">
      <div>
        <nz-form-label>{{ 'header.title.handleMonth' | translate }}</nz-form-label>
        <nz-date-picker nzMode="month" [formControlName]="'handleMonth'"></nz-date-picker>
      </div>
      <div style="margin-top: 15px">
        <nz-form-item style="width: 100%">
          <nz-form-label>
            {{ 'common.text.swkControl' | translate }}
          </nz-form-label>
          <nz-form-control style="width: 100%">
            <nz-switch [(ngModel)]="swkControl" [ngModelOptions]="{ standalone: true }"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div style="margin-top: 15px">
        <nz-form-item style="width: 100%">
          <nz-form-label>
            {{ 'common.text.swkConfimMethod' | translate }}
          </nz-form-label>
          <nz-form-control style="width: 100%">
            <nz-radio-group formControlName="confimMethod">
              <label nz-radio nzValue="sabun">{{ 'common.text.sabunShiwake' | translate }}</label>
              <label nz-radio nzValue="araigae">{{ 'common.text.araigaeShiwake' | translate }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <button nz-button nzType="primary" type="button" (click)="submit()">
        {{ 'common.button.save' | translate }}
      </button>
    </nz-tab>
    <nz-tab [nzTitle]="'header.title.swkDownload' | translate">
      <!-- レイアウト選択  TODO 多レイアウト -->
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.swkSelect' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select 
            formControlName="selectedCustom" 
            nzAllowClear 
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }" 
            (ngModelChange)="customChange()">
            <nz-option *ngFor="let item of customs"
                      [nzLabel]="item.custom_label"
                      [nzValue]="item.custom_id"></nz-option>
          </nz-select>
        </nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="addSetting()">
          <i nz-icon nzType="save" nzTheme="outline"></i>
          {{ 'common.button.save' | translate }}
        </button>
      </nz-form-item> -->
      <!-- レイアウト名 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.swkName' | translate }}
        </nz-form-label>
        <nz-form-control>
          <input nz-input [ngStyle]="{ width: isSmall ? '220px' : '300px' }" formControlName="layoutName" trim="blur" />
        </nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="addSetting()">
          <i nz-icon nzType="save" nzTheme="outline"></i>
          {{ 'common.button.save' | translate }}
        </button>
      </nz-form-item>
      <!-- 文字コード -->
      <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.encoding' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="charEncoding" nzAllowClear [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
            <nz-option nzValue="UTF-8" [nzLabel]="'UTF-8'"></nz-option>
            <nz-option nzValue="Shift-JIS" [nzLabel]="'Shift-JIS'"></nz-option>
          </nz-select>
          <ng-template #errorCharEncoding let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- ヘッダ行 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.headerRow' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="headerRow" nzAllowClear [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
            <nz-option nzValue="exsit" [nzLabel]="'有'"></nz-option>
            <nz-option nzValue="unexsit" [nzLabel]="'無'"></nz-option>
          </nz-select>
          <ng-template #errorCharEncoding let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- 区切り文字 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.delimiter' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="separatorChar" nzAllowClear [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
            <nz-option nzValue="separatorCharComma" [nzLabel]="'カンマ'"></nz-option>
            <nz-option nzValue="separatorCharTab" [nzLabel]="'タブ'"></nz-option>
          </nz-select>
          <ng-template #errorCharEncoding let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- 改行 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.lineBreaks' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="lineBreaks" nzAllowClear [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
            <nz-option nzValue="lf" [nzLabel]="'LF'"></nz-option>
            <nz-option nzValue="crLf" [nzLabel]="'CR+LF'"></nz-option>
            <nz-option nzValue="cr" [nzLabel]="'CR'"></nz-option>
          </nz-select>
          <ng-template #errorCharEncoding let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- 固定長 -->
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.fixedLength' | translate }}
        </nz-form-label>
        <nz-form-control>
          <label nz-checkbox formControlName="fixedLength"></label>
        </nz-form-control>
      </nz-form-item> -->
      <!-- 項目数 -->
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.itemsNumber' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="numberItems"
            [nzStep]="1"
            [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
            trim="blur"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item> -->
      <!-- 有効フラグ -->
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="2">
          {{ 'common.text.validFlag' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-select formControlName="validFlag" nzAllowClear [ngStyle]="{ width: isSmall ? '220px' : '300px' }">
            <nz-option nzValue="valid" [nzLabel]="'有効'"></nz-option>
            <nz-option nzValue="invalid" [nzLabel]="'無効'"></nz-option>
          </nz-select>
          <ng-template #errorCharEncoding let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredSelect' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->
      <div class="dashed_border" style="padding: 8px; margin-top: 8px">
        <h4>
          {{ 'header.title.downloadFieldSettings' | translate }}
        </h4>
        <!-- 选择字段下拉菜单 -->
        <div>
          <button nz-button nzType="primary" type="button" (click)="addField()">
            <span>{{ 'common.text.fieldAdd' | translate }}</span>
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </div>
        <nz-table
          [nzData]="[{}]"
          [nzFrontPagination]="false"
          [nzPageSize]="100"
          [nzShowPagination]="false"
          nzBordered="true"
          nzSize="default"
          [nzPageSize]="500"
          style="height: 300px; overflow-y: auto"
          cdkScrollable
        >
          <thead>
            <tr>
              <ng-container *ngFor="let col of colsField">
                <th *ngIf="col.width" nz-resizable nzBounds="window" [nzWidth]="col.width" [nzMinWidth]="40">
                  {{ col.title }}
                  <nz-resize-handle nzDirection="right"></nz-resize-handle>
                </th>
                <th *ngIf="!col.width">
                  {{ col.title }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
            <tr *ngFor="let item of selectedFields; let i = index" cdkDrag>
              <td>{{ i + 1 }}</td>
              <td>
                <span style="color: red">*</span>
                <input
                  nz-input
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="item.download_name"
                  trim="blur"
                  [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
                />
              </td>
              <td [ngStyle]="{ width: '100px' }">{{ item.field_type }}</td>
              <td>
                <nz-select
                  [(ngModel)]="item.setting_method"
                  [ngModelOptions]="{ standalone: true }"
                  nzAllowClear
                  [ngStyle]="{ width: isSmall ? '220px' : '300px' }"
                >
                  <nz-option nzValue="1" nzLabel="固定值"></nz-option>
                  <nz-option nzValue="2" nzLabel="仕訳台帳"></nz-option>
                  <nz-option nzValue="3" nzLabel="増減履歴台帳"></nz-option>
                  <!-- <nz-option nzValue="4" nzLabel="カスタマイズ"></nz-option> -->
                  <nz-option nzValue="4" nzLabel="カスタマイズ"></nz-option>
                </nz-select>
              </td>
              <!-- 根据选择的 setting_method 渲染不同内容 -->
              <td>
                <ng-container *ngIf="item.setting_method === '1'">
                  <input
                    nz-input
                    trim="blur"
                    [ngStyle]="{ width: '220px' }"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="item.edit_content"
                    placeholder="请输入固定值"
                  />
                </ng-container>
                <ng-container *ngIf="item.setting_method === '2'">
                  <nz-select
                    [(ngModel)]="item.field_id"
                    (ngModelChange)="updateFieldInfo(item)"
                    nzAllowClear
                    [ngStyle]="{ width: '220px' }"
                    nzPlaceHolder="选择台账字段"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <nz-option
                      *ngFor="let field of swkFields"
                      [nzValue]="field.field_id"
                      [nzLabel]="field.field_name | translate"
                    >
                      {{ field.field_name | translate }}
                    </nz-option>
                  </nz-select>
                </ng-container>
                <ng-container *ngIf="item.setting_method === '3'">
                  <nz-select
                    [(ngModel)]="item.field_id"
                    (ngModelChange)="updateFieldInfo(item)"
                    nzAllowClear
                    [ngStyle]="{ width: '220px' }"
                    nzPlaceHolder="选择台账字段"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <nz-option
                      *ngFor="let field of rkFields"
                      [nzValue]="field.field_id"
                      [nzLabel]="field.field_name | translate"
                    >
                      {{ field.field_name | translate }}
                    </nz-option>
                  </nz-select>
                </ng-container>
                <!-- <ng-container *ngIf="item.setting_method === '4'">
                  <button nz-button nzType="default" nzSize="small" (click)="openJsonEditor(item)">条件追加</button>
                </ng-container> -->
                <ng-container *ngIf="item.setting_method === '4'">
                  <button nz-button nzType="default" nzSize="small" (click)="openJsonEditor(item)">
                    カスタム条件追加
                  </button>
                </ng-container>
              </td>
              <!-- 日期形式 -->
              <td>
                <nz-select
                  style="width: 100%"
                  [(ngModel)]="item.format"
                  [ngModelOptions]="{ standalone: true }"
                  nzAllowClear
                  [nzDisabled]="item.field_type !== 'date'"
                  nzPlaceHolder="YYYY-MM-DD"
                >
                  <nz-option nzValue="2006/01/02" nzLabel="YYYY/MM/DD"></nz-option>
                  <nz-option nzValue="20060102" nzLabel="YYYYMMDD"></nz-option>
                  <nz-option nzValue="2006/1/2" nzLabel="YYYY/M/D"></nz-option>
                  <nz-option nzValue="2006-01-02" nzLabel="YYYY-MM-DD"></nz-option>
                  <nz-option nzValue="2006-1-2" nzLabel="YYYY-M-D"></nz-option>
                  <nz-option nzValue="01/02/2006" nzLabel="MM/DD/YYYY"></nz-option>
                </nz-select>
              </td>
              <td>
                <!-- 删除按钮 -->
                <button nz-button nzType="default" nzSize="small" (click)="deleteField(i)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                  {{ 'common.button.delete' | translate }}
                </button>
              </td>
              <input
                nz-input
                [(ngModel)]="item.datastore_id"
                [ngModelOptions]="{ standalone: true }"
                [ngStyle]="{ display: 'none' }"
              />
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="'header.title.swkList' | translate">
      <div style="padding-top: 16px">
        <nz-table
          #basicTable
          [nzData]="journals"
          nzBordered="true"
          nzSize="middle"
          nzFrontPagination="false"
          [nzScroll]="{ y: '400px' }"
          [nzPageSize]="500"
        >
          <thead>
            <tr>
              <ng-container *ngFor="let col of cols">
                <th
                  *ngIf="col.width"
                  nz-resizable
                  nzBounds="window"
                  [nzWidth]="col.width"
                  [nzMinWidth]="60"
                  (nzResizeEnd)="onResize($event, col.title)"
                >
                  {{ col.title | translate }}
                  <nz-resize-handle nzDirection="right"></nz-resize-handle>
                </th>
                <th *ngIf="!col.width">
                  {{ col.title | translate }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data" [ngClass]="{ dashboard_bg: data.no }">
              <td>{{ data.no }}</td>
              <td [colSpan]="data.no ? 4 : 1">{{ data.name }}</td>
              <td>{{ data.credit }}</td>
              <td>{{ data.debt }}</td>
              <td>{{ data.amount }}</td>
              <td>{{ data.other }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
  </nz-tabset>
</form>

<!-- JSON 编辑弹窗 -->
<nz-modal
  [(nzVisible)]="isJsonEditorVisible"
  nzTitle="カスタム出力条件"
  [nzWidth]="1000"
  (nzOnCancel)="closeJsonEditor()"
  (nzOnOk)="handleOK()"
  [nzStyle]="{ height: '750px', overflow: 'auto' }"
>
  <ng-template nzModalContent>
    <app-journal-condition [ifConditions]="ifConditions" [datastoreId]="swk_datastore_Id"></app-journal-condition>
  </ng-template>
</nz-modal>
