<div style="padding-top: 16px">
  <nz-space>
    <div *nzSpaceItem>
      <nz-button-group>
        <button nz-button (click)="compute()">
          <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
          {{ 'page.journal.incAndDec' | translate }}
        </button>
        <button nz-button (click)="compute('repay')">
          <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
          {{ 'page.journal.depreciation' | translate }}
        </button>
        <button nz-button (click)="compute('pay')">
          <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
          {{ 'page.journal.payment' | translate }}
        </button>
      </nz-button-group>
    </div>
  </nz-space>
</div>
