<div nz-row nzJustify="start" nzAlign="top">
  <div nz-col nzSpan="24" class="border-bottom">
    <nz-tabset [nzTabPosition]="position" style="height: 500px; padding: 16px" nzSize="small">
      <nz-tab [nzTitle]="'page.document.public' | translate">
        <ng-template nz-tab>
          <app-search-list [fo]="'public'"></app-search-list>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'page.document.company' | translate">
        <ng-template nz-tab>
          <app-search-list [fo]="'company'"></app-search-list>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'page.document.personFile' | translate">
        <ng-template nz-tab>
          <app-search-list [fo]="'user'" [delete]="true" [write]="true"></app-search-list>
        </ng-template>
      </nz-tab>
      <nz-tab *ngFor="let tab of folderTabs" [nzTitle]="tab.folder_name">
        <ng-template nz-tab>
          <app-search-list [fo]="tab.folder_id" [delete]="tab.delete" [write]="tab.write"></app-search-list>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
