<!--
 * @Description: 个人中心安全设置画面
 * @Author: RXC 廖云江
 * @Date: 2019-08-02 17:10:18
 * @LastEditors: Rxc 陳平
 * @LastEditTime: 2020-12-30 14:31:14
 -->
<div nz-row nzJustify="start" class="base-setting">
  <div nz-col nzSpan="24" class="base-setting-left">
    <form
      nz-form
      [formGroup]="passwordForm"
      (ngSubmit)="submitPasswordForm($event, passwordForm.value)"
      autocomplete="off"
    >
      <nz-form-item>
        <nz-form-label nzSpan="3">{{ 'page.userCenter.oldPassword' | translate }}</nz-form-label>
        <nz-form-control nzSpan="16" [nzErrorTip]="oldPassword">
          <input
            nz-input
            type="password"
            formControlName="oldPassword"
            style="width: 300px"
            autocomplete="off"
            trim="blur"
            [placeholder]="'common.placeholder.input' | translate: { label: 'page.userCenter.oldPassword' | translate }"
          />
          <ng-template #oldPassword let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredInput' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('password')">
              {{ 'common.validator.password' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              {{ 'common.validator.passwordUplicated' | translate }}
            </ng-container>
            <ng-container *ngIf="control.pending">
              {{ 'common.validator.pending' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <p></p>
      <nz-form-item>
        <nz-form-label nzSpan="3">{{ 'page.userCenter.newPassword' | translate }}</nz-form-label>
        <nz-form-control nzSpan="16" [nzErrorTip]="newPassword">
          <input
            nz-input
            type="password"
            formControlName="newPassword"
            style="width: 300px"
            [placeholder]="'common.placeholder.input' | translate: { label: 'page.userCenter.newPassword' | translate }"
            autocomplete="newPassword"
            (ngModelChange)="validateConfirmPassword()"
            trim="blur"
          />
          <ng-template #newPassword let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredInput' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('password')">
              {{ 'common.validator.password' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <p></p>
      <nz-form-item>
        <nz-form-label nzSpan="3">{{ 'page.userCenter.confirmPassword' | translate }}</nz-form-label>
        <nz-form-control nzSpan="16" [nzErrorTip]="confirm">
          <input
            nz-input
            type="password"
            formControlName="confirm"
            style="width: 300px"
            [placeholder]="
              'common.placeholder.input' | translate: { label: 'page.userCenter.confirmPassword' | translate }
            "
            autocomplete="newPassword"
            trim="blur"
          />
          <ng-template #confirm let-control>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'common.validator.requiredInput' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              {{ 'common.validator.passwordConfirm' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <p></p>
      <nz-form-item>
        <nz-form-control nzOffset="3">
          <button nz-button nzType="primary" [disabled]="!passwordForm.valid">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
            {{ 'common.button.save' | translate }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
