.ant-menu-inline {
  border-right: none;
}

.dashed_border {
  border: 1px dashed @border-color-split;
}

.solid_border {
  border: 1px solid @border-color-split;
}

.dashboard_bg {
  background-color: @table-header-bg;
}

table tr {
  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
  }

  th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    font-weight: bold !important;
  }
}

.ant-table-thead {
  tr {
    th {
      word-break: break-all;
      white-space: normal;
      -ms-word-break: break-all;
    }
  }
}

strong {
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

html,
body {
  font-family: 'MS UI Gothic', 'MS PGothic', 'Hiragino Kaku Gothic Pro', 'Osaka', 'Arial', 'Helvetica', sans-serif;
}
