<div style="padding-top: 16px">
  <form nz-form [formGroup]="seachForm">
    <nz-form-item>
      <nz-form-label>{{ 'page.subject.kbn' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-radio-group formControlName="manageFlag" (ngModelChange)="search()">
          <label nz-radio nzValue="assets">{{ 'page.subject.assets' | translate }}</label>
          <label nz-radio nzValue="common">{{ 'page.subject.common' | translate }}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="seachForm.get('manageFlag').value === 'assets'">
      <nz-form-label>{{ 'page.subject.assets' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select
          nzAllowClear
          style="width: 300px"
          formControlName="assetsType"
          (ngModelChange)="search()"
          [nzPlaceHolder]="'common.placeholder.select' | translate : { label: 'page.subject.assets' | translate }"
        >
          <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of assets"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<nz-divider></nz-divider>
<nz-space>
  <!-- <div *nzSpaceItem>
    <button nz-button [nzType]="'primary'">
      <i nz-icon nzType="upload"></i>
      {{ 'common.button.import' | translate }}
    </button>
  </div> -->
  <div *nzSpaceItem>
    <nz-button-group>
      <button nz-button (click)="startEdit()" [disabled]="status">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        {{ 'common.button.edit' | translate }}
      </button>
      <button nz-button (click)="save()" [disabled]="!status">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        {{ 'common.button.save' | translate }}
      </button>
      <button nz-button (click)="stopEdit()" [disabled]="!status">
        <i nz-icon nzType="redo" nzTheme="outline"></i>
        {{ 'common.button.cancel' | translate }}
      </button>
    </nz-button-group>
  </div>
</nz-space>
<div style="padding-top: 16px">
  <nz-table
    #nzTable
    [nzData]="subjects"
    [nzPageSize]="500"
    nzFrontPagination="false"
    nzBordered
    nzSize="middle"
    [nzScroll]="{ y: '400px' }"
  >
    <thead>
      <tr>
        <ng-container *ngFor="let col of cols">
          <th
            *ngIf="col.width"
            nz-resizable
            nzBounds="window"
            [nzWidth]="col.width"
            [nzMinWidth]="60"
            (nzResizeEnd)="onResize($event, col.title)"
          >
            {{ col.title | translate }}
            <nz-resize-handle nzDirection="right"></nz-resize-handle>
          </th>
          <th *ngIf="!col.width">
            {{ col.title | translate }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of nzTable.data; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ i.subject_key }}</td>
        <td>{{ i.default_name }}</td>
        <td *ngIf="!status">{{ i.subject_cd }}</td>
        <td *ngIf="status">
          <input nz-input nzSize="small" [(ngModel)]="i.subject_cd" style="width: 200px" readonly />
          <button
            nz-button
            type="button"
            nzType="primary"
            nzSearch
            (click)="openModal(index)"
            style="margin-right: 0px; height: 27px"
          >
            <i nz-icon nzType="search"></i>
          </button>
        </td>
        <td>
          {{ i.subject_name }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'page.datastore.pleaseSelect' | translate"
  (nzOnCancel)="close()"
  nzWidth="50%"
  [nzFooter]="null"
>
  <ng-template nzModalContent>
    <nz-collapse [nzBordered]="true" style="width: 100%">
      <nz-collapse-panel [nzHeader]="'common.text.search' | translate">
        <div>
          <nz-row nzAlign="middle">
            <nz-form-item style="margin-right: 25px">
              <!-- subjectcd 输入框 -->
              <nz-form-label nzFor="subjectcd">{{ '勘定科目コード' }}</nz-form-label>
              <nz-form-control>
                <input nz-input #subjectcdInput trim="blur" style="width: 100%" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-right: 25px">
              <!-- subjectname 输入框 -->
              <nz-form-label nzFor="subjectname">{{ '勘定科目名' }}</nz-form-label>
              <nz-form-control>
                <input nz-input #subjectnameInput trim="blur" style="width: 100%" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-right: 25px">
              <nz-form-control>
                <button nz-button [nzType]="'primary'" (click)="searchItems()">
                  <i nz-icon nzType="search"></i>
                  {{ 'common.button.search' | translate }}
                </button>
              </nz-form-control>
            </nz-form-item>
          </nz-row>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div class="solid_border" style="padding: 4px; height: 300px; overflow: auto">
      <nz-form-label>{{ '一覧' }}</nz-form-label>
      <ng-container *ngIf="!isContentEmpty">
        <!-- 内容不为空时显示的表格 -->
        <nz-table
          #basicTable
          [nzData]="swkSubject"
          nzBordered="true"
          nzSize="small"
          style="width: 100%"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <ng-container *ngFor="let col of colsWithGroup">
                <th *ngIf="col.width" nz-resizable nzBounds="window" [nzWidth]="col.width" [nzMinWidth]="80">
                  {{ col.title }}
                  <nz-resize-handle nzDirection="right"></nz-resize-handle>
                </th>
                <th *ngIf="!col.width">
                  {{ col.title }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of swkSubject" (dblclick)="doubleClick(item)">
              <td>{{ item.subjectcd }}</td>
              <td>{{ item.subjectname }}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
    </div>

    <div style="display: flex">
      <button nz-button nzType="primary" (click)="close()">
        {{ 'common.button.cancel' | translate }}
      </button>
      <span style="margin-left: auto">{{ '合計' + selectTotal + '件' }}</span>
    </div>
  </ng-template>
</nz-modal>
