<div nz-row nzJustify="start" nzAlign="top">
  <div nz-col nzSpan="24">
    <nz-card [nzTitle]="'common.text.baseInfo' | translate" nzSize="small">
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="22">
          <form nz-form [formGroup]="validateForm">
            <nz-form-item>
              <nz-form-label nzFor="file" nzSpan="4" nzRequired>
                <span>
                  {{ 'page.document.upload.select' | translate }}
                  <i nz-icon nz-tooltip [nzTooltipTitle]="title" nzType="question-circle" nzTheme="outline"></i>
                  <ng-template #title>
                    <span>
                      {{ 'common.text.supportFile' | translate }}
                      <div>
                        <span style="margin-right: 4px; color: red" *ngFor="let suffix of supportFile">
                          {{ suffix }}
                        </span>
                      </div>
                    </span>
                  </ng-template>
                </span>
              </nz-form-label>
              <nz-form-control nzSpan="8">
                <nz-upload
                  nzListType="text"
                  [nzMultiple]="false"
                  [(nzFileList)]="fileList"
                  [nzBeforeUpload]="beforeUpload"
                >
                  <button nz-button nzType="primary" style="width: 300px">
                    <i nz-icon nzType="upload"></i>
                    {{ 'common.button.selectFile' | translate }}
                  </button>
                </nz-upload>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="file_name" nzSpan="4" nzRequired>
                {{ 'page.document.fileName' | translate }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="file_name">
                <nz-input-group>
                  <input
                    type="text"
                    nz-input
                    formControlName="file_name"
                    [readOnly]="fileList.length == 0"
                    [placeholder]="
                      'common.placeholder.input' | translate: { label: 'page.document.fileName' | translate }
                    "
                    style="width: 300px"
                    trim="blur"
                  />
                </nz-input-group>
                <ng-template #file_name let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'common.validator.requiredInput' | translate }}
                  </ng-container>

                  <ng-container *ngIf="control.hasError('duplicated')">
                    {{ 'common.validator.fileNameDuplicated' | translate }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="24" class="text-left" style="margin-top: 16px">
    <button
      nz-button
      nzType="primary"
      nzSize="default"
      (click)="handleUpload()"
      [nzLoading]="uploading"
      appDebounceClick
      [disabled]="fileList.length == 0 || !validateForm.get('file_name').valid"
      style="margin-right: 16px"
    >
      <i nz-icon nzType="save" nzTheme="outline"></i>
      {{ 'common.button.save' | translate }}
    </button>
    <button nz-button nzType="default" nzSize="default" (click)="reset()" style="margin-right: 16px">
      <i nz-icon nzType="redo" nzTheme="outline"></i>
      {{ 'common.button.reset' | translate }}
    </button>
    <button nz-button nzType="default" nzSize="default" (click)="cancel()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
      {{ 'common.button.cancel' | translate }}
    </button>
  </div>
</div>
