<div class="forget-password">
  <div nz-row nzJustify="center" nzAlign="top">
    <div nz-col nzLg="20" nzXl="10" class="forget-password-body">
      <nz-row nzJustify="center">
        <div nz-col nzSpan="12" class="forget-password-body-image"></div>
        <div nz-col nzSpan="12">
          <div nz-row nzJustify="start" nzAlign="top">
            <nz-col nzSpan="24" style="text-align: center">
              <img src="/assets/themes/default/image/logo/logo.horizontal.png" style="padding: 20px; height: 80px" />
            </nz-col>
            <nz-col nzSpan="24" style="text-align: center">
              <b style="font-size: larger">{{ 'page.forgetPassword.title' | translate }}</b>
            </nz-col>
            <nz-col nzSpan="24">
              <form nz-form [formGroup]="validateForm" class="forget-password-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="loginIdTpl">
                    <nz-input-group [nzPrefix]="prefixUser">
                      <input
                        type="text"
                        nz-input
                        formControlName="loginId"
                        [placeholder]="
                          'common.placeholder.input' | translate: { label: 'page.forgetPassword.loginId' | translate }
                        "
                      />
                    </nz-input-group>
                    <ng-template #loginIdTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'common.validator.loginId' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('email')">
                        {{ 'common.validator.loginId' | translate }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="emailTpl">
                    <nz-input-group [nzPrefix]="prefixMail">
                      <input
                        type="text"
                        nz-input
                        formControlName="email"
                        [placeholder]="
                          'common.placeholder.input' | translate: { label: 'page.forgetPassword.email' | translate }
                        "
                      />
                    </nz-input-group>
                    <ng-template #emailTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'common.validator.email' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('email')">
                        {{ 'common.validator.email' | translate }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- 验证码输入框 -->
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="errorCapt">
                    <nz-input-group [nzPrefix]="prefixKey">
                      <input
                        nz-input
                        formControlName="captcha"
                        [placeholder]="
                          'common.placeholder.input' | translate: { label: 'page.forgetPassword.captcha' | translate }
                        "
                      />
                    </nz-input-group>
                    <ng-template #errorCapt let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'page.forgetPassword.validator.captchaRequired' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('captcha')">
                        {{ 'page.forgetPassword.validator.captchaCorrect' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.pending">
                        {{ 'page.forgetPassword.validator.captchaPending' | translate }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <!-- 验证码 -->
                <nz-form-item>
                  <nz-form-control>
                    <div nz-row *ngIf="countTime !== 0">
                      <nz-col nzSpan="22">
                        <div>
                          <img
                            [src]="captchaImage"
                            width="100%"
                            (click)="initCaptcha()"
                            style="border: 1px solid #eee"
                          />
                        </div>
                      </nz-col>
                      <nz-col nzSpan="2" style="display: flex; align-items: center">
                        <span style="margin-left: 4px">{{ countTime }}s</span>
                      </nz-col>
                    </div>
                    <div nz-row *ngIf="countTime === 0" (click)="initCaptcha()">
                      <nz-col nzSpan="22">
                        <span style="color: red; margin-right: 4px">
                          {{ 'page.login.validator.captchaExpired' | translate }}
                        </span>
                      </nz-col>
                      <nz-col nzSpan="2">
                        <i nz-icon nzType="redo" nzTheme="outline"></i>
                      </nz-col>
                    </div>
                  </nz-form-control>
                </nz-form-item>
                <!-- 重置按钮 -->
                <nz-form-item>
                  <nz-form-control>
                    <button
                      nz-button
                      class="forget-password-form-button"
                      [disabled]="!validateForm.valid"
                      [nzType]="'primary'"
                    >
                      {{ 'common.button.forgetPassword' | translate }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
              <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
              <ng-template #prefixMail><i nz-icon nzType="mail"></i></ng-template>
              <ng-template #prefixKey><i nz-icon nzType="key"></i></ng-template>
            </nz-col>
          </div>
        </div>
      </nz-row>
    </div>
  </div>
</div>
