<div nz-col nzSpan="24" class="border-bottom" style="padding-bottom: 8px">
  <div nz-row nzAlign="middle" nzJustify="space-between">
    <div nz-col>
      <form nz-form [formGroup]="form">
        <nz-form-item style="margin-bottom: 0px">
          <nz-form-control [nzErrorTip]="seachValueTip">
            <nz-input-group nzSize="default" [nzSuffix]="suffixIcon" style="width: 300px">
              <input
                nz-input
                [placeholder]="'page.document.search' | translate"
                formControlName="seachValue"
                (ngModelChange)="fileSearch($event)"
                trim="blur"
              />
            </nz-input-group>
            <ng-template #seachValueTip let-control></ng-template>
          </nz-form-control>
        </nz-form-item>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </form>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="search()" nzSize="small">
        <i nz-icon nzType="reload" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>
<div nz-row nzJustify="space-between" nzAlign="top">
  <div nz-col nzSpan="20">
    <h3>{{ 'page.document.list' | translate }}</h3>
  </div>
  <div nz-col nzSm="4" nzXs="24;text-left" class="text-right" *ngIf="write">
    <button nz-button nzType="link" (click)="gotoUpload(fo)">
      <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>
      {{ 'common.button.upload' | translate }}
    </button>
  </div>
</div>
<nz-table
  #basicTable
  [nzData]="files"
  nzBordered="true"
  nzSize="middle"
  [nzScroll]="{ y: '300px' }"
  [nzTotal]="files.length"
  [nzShowTotal]="rangeTemplate"
>
  <thead>
    <tr>
      <ng-container *ngFor="let col of cols">
        <th
          *ngIf="col.width"
          nz-resizable
          nzBounds="window"
          [nzWidth]="col.width"
          [nzMinWidth]="60"
          (nzResizeEnd)="onResize($event, col.title)"
        >
          {{ col.title | translate }}
          <nz-resize-handle nzDirection="right"></nz-resize-handle>
        </th>
        <th *ngIf="!col.width">
          {{ col.title | translate }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td [title]="data.file_name">
        <a nz-button nzSize="small" nzType="link" (click)="downloadFile(data.file_id)">
          {{ data.file_name }}
        </a>
      </td>
      <td>{{ data.file_size | fileSize }}</td>
      <td>{{ data.content_type }}</td>
      <td>
        <a nz-button nzSize="small" nzType="primary" (click)="downloadFile(data.file_id)">
          {{ 'common.button.download' | translate }}
        </a>
        <nz-divider nzType="vertical" *ngIf="delete"></nz-divider>
        <a nz-button nzSize="small" nzType="primary" nzDanger="true" *ngIf="delete" (click)="deleteFile(data.file_id)">
          {{ 'common.button.delete' | translate }}
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #rangeTemplate let-range="range" let-total>
  {{ 'common.text.totalTmp' | translate: { total: total, now: range[0], size: range[1] } }}
</ng-template>
