<div class="password-reset">
  <div nz-row nzJustify="center" nzAlign="top">
    <div nz-col nzLg="20" nzXl="10" class="password-reset-body">
      <nz-row nzJustify="center">
        <div nz-col nzSpan="12" class="password-reset-body-image"></div>
        <div nz-col nzSpan="12">
          <div nz-row nzJustify="start" nzAlign="top">
            <nz-col nzSpan="24" style="text-align: center">
              <img src="/assets/themes/default/image/logo/logo.horizontal.png" style="padding: 20px; height: 80px" />
            </nz-col>
            <nz-col nzSpan="24" style="text-align: center">
              <b style="font-size: larger">{{ 'route.passwordReset' | translate }}</b>
            </nz-col>
            <nz-col nzSpan="24" style="text-align: center" *ngIf="validTokenMsg">
              <span>{{ validTokenMsg | translate }}</span>
            </nz-col>
            <nz-col nzSpan="24" *ngIf="!validTokenMsg">
              <form
                nz-form
                [formGroup]="validateForm"
                class="password-reset-form"
                (ngSubmit)="submitPasswordForm($event, validateForm.value)"
              >
                <nz-form-item>
                  <nz-form-label nzRequired>{{ 'page.userCenter.newPassword' | translate }}</nz-form-label>
                  <nz-form-control [nzErrorTip]="newPassword">
                    <input
                      nz-input
                      type="password"
                      formControlName="newPassword"
                      style="width: 250px"
                      trim="blur"
                      [placeholder]="
                        'common.placeholder.input' | translate: { label: 'page.userCenter.newPassword' | translate }
                      "
                      autocomplete="newPassword"
                      (ngModelChange)="validateConfirmPassword()"
                    />
                    <ng-template #newPassword let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'common.validator.requiredInput' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('password')">
                        {{ 'common.validator.password' | translate }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzRequired>{{ 'page.userCenter.confirmPassword' | translate }}</nz-form-label>
                  <nz-form-control [nzErrorTip]="confirm">
                    <input
                      nz-input
                      type="password"
                      formControlName="confirm"
                      style="width: 250px"
                      trim="blur"
                      [placeholder]="
                        'common.placeholder.input' | translate: { label: 'page.userCenter.confirmPassword' | translate }
                      "
                      autocomplete="newPassword"
                    />
                    <ng-template #confirm let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        {{ 'common.validator.requiredInput' | translate }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        {{ 'common.validator.passwordConfirm' | translate }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <button
                      nz-button
                      class="password-reset-form-button"
                      [disabled]="!validateForm.valid"
                      style="width: 250px; margin-top: 48px"
                      [nzType]="'primary'"
                    >
                      {{ 'common.button.ok' | translate }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </nz-col>
          </div>
        </div>
      </nz-row>
    </div>
  </div>
</div>
